<title>{{title}}</title>
<form action="insert" method="post">
  <input type="text" name="firstName"><br>
  <input type="text" name="lastName"><br>
  <input type="file" name="image"><br>
  <button type="submit" name="submit">submit</button>
</form>
